In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("../DATA/dlrols/dlrols_audit.csv")
data.head()

,id,timestamp,action,details,actorUserId
0,3cce991e-a1e1-4ad1-88cd-cb437d37d31f,2025-07-01 10:54:55.304+01,USER_CREATED,"{""userId"":""59c044f9-fd9c-4a06-ada9-e0a5ce7a24b...",59c044f9-fd9c-4a06-ada9-e0a5ce7a24b1
1,b0483d7a-afa2-4092-a88c-4bb392ade477,2025-07-01 10:54:55.376+01,USER_CREATED,"{""userId"":""5b778a1b-4d1b-47ca-89f0-d42b3c969bb...",5b778a1b-4d1b-47ca-89f0-d42b3c969bb2
2,7234cab2-76d4-4030-b541-2385fc73dc8d,2025-07-01 10:54:55.442+01,USER_CREATED,"{""userId"":""9713187c-3fb0-40ea-a67d-18372530672...",9713187c-3fb0-40ea-a67d-183725306722
3,b2f274e8-fb1a-49fd-8fa2-bed7df15b3cb,2025-07-01 10:54:55.509+01,USER_CREATED,"{""userId"":""f6fa4fbc-84c6-4288-905c-919fb256d43...",f6fa4fbc-84c6-4288-905c-919fb256d439
4,0dbb8351-c383-4c31-89dc-3e37e2459681,2025-07-01 10:54:55.584+01,USER_CREATED,"{""userId"":""fe664457-1859-4f6d-9697-bb46925d6ee...",fe664457-1859-4f6d-9697-bb46925d6ee4

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5816 entries, 0 to 5815
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           5816 non-null   object
 1   timestamp    5816 non-null   object
 2   action       5816 non-null   object
 3   details      5816 non-null   object
 4   actorUserId  5816 non-null   object
dtypes: object(5)
memory usage: 227.3+ KB